.charmander {
  background: #ff7600;
  margin-left: 600px; }
  .charmander .head {
    height: 143px;
    width: 150px;
    background: inherit;
    border-top-right-radius: 75px 61%;
    border-top-left-radius: 72px;
    border-bottom-right-radius: 42px;
    border-bottom-left-radius: 60px 49%;
    border-bottom: 3px solid black;
    transform: scale(1.1); }
    .charmander .head:before {
      content: '';
      background: inherit;
      position: absolute;
      height: 85px;
      width: 100px;
      bottom: 0;
      right: -6px;
      border-bottom-right-radius: 100px;
      border-top-right-radius: 33px 100%;
      border-right: 3px solid black; }
    .charmander .head .eye {
      height: 30px;
      width: 30px;
      background: black;
      border-radius: 15px; }
      .charmander .head .eye:before {
        content: '';
        background: inherit;
        position: absolute;
        height: 10px;
        width: 10px;
        background: white;
        border-radius: 5px;
        top: 5px;
        right: 4px; }
    .charmander .head .left-eye {
      top: 65px;
      left: 46px;
      transform: scale(1.1); }
    .charmander .head .right-eye {
      top: 58px;
      right: 7px; }
    .charmander .head .cheek {
      height: 20px;
      width: 40px;
      background: pink;
      border-radius: 30px/100%; }
    .charmander .head .left-cheek {
      top: 87px;
      left: 28px;
      transform: scale(1.1); }
    .charmander .head .right-cheek {
      top: 79px;
      right: -14px;
      transform: rotate(-5deg); }
    .charmander .head .mouth {
      display: none;
      bottom: 9px;
      left: 4px; }
      .charmander .head .mouth:before {
        content: '';
        background: inherit;
        position: absolute;
        height: 6px;
        width: 8px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 8px;
        border-bottom: 2px solid black;
        bottom: 23px;
        left: 88px; }
  .charmander .body {
    height: 186px;
    width: 155px;
    background: inherit;
    top: 100px;
    border-radius: 100px/75%;
    border-top-right-radius: 150px;
    border-right: 3px solid black; }
    .charmander .body .stomach {
      height: 93px;
      width: 90px;
      background: #fcae00;
      border-bottom-left-radius: 34px 60%;
      border-bottom-right-radius: 131px 100%;
      border-top-left-radius: 166px 60%;
      border-top-right-radius: 9px 100%;
      bottom: 0px;
      right: -4px;
      border-right: 4px solid black; }
    .charmander .body .arm {
      height: 54px;
      width: 38px;
      background: inherit;
      border-radius: 25px 75%;
      transform: rotate(-20deg);
      border-right: 2px solid black;
      border-bottom: 1px solid black; }
    .charmander .body .left-arm {
      top: 66px;
      left: 58px; }
    .charmander .body .right-arm {
      top: 59px;
      right: -11px;
      z-index: -1; }
    .charmander .body .left-leg {
      height: 88px;
      width: 83px;
      background: inherit;
      bottom: 0;
      left: -11px;
      border-top-left-radius: 50px 70%;
      border-bottom-left-radius: 50px;
      border-top-right-radius: 50px;
      border-left: 3px solid black;
      border-top: 5px solid black; }
      .charmander .body .left-leg .left-hind-paw {
        height: 44px;
        width: 50px;
        background: inherit;
        right: -20px;
        bottom: 0;
        border-radius: 20px 75%;
        transform: rotate(80deg);
        border-top: 2px solid black;
        border-left: 1px solid black; }
    .charmander .body .right-leg {
      height: 92px;
      width: 100px;
      background: inherit;
      bottom: 0;
      right: -20px;
      border-bottom-right-radius: 50px 70%;
      border-bottom-left-radius: 50px;
      border-top-right-radius: 50px;
      border-top: 5px solid black;
      z-index: -1; }
      .charmander .body .right-leg .right-hind-paw {
        height: 44px;
        width: 48px;
        background: inherit;
        right: -15px;
        bottom: 0;
        border-radius: 20px 75%;
        transform: rotate(100deg) scaleY(0.8);
        border-top: 2px solid black;
        border-left: 1px solid black; }
    .charmander .body .tail {
      height: 174px;
      width: 86px;
      border-radius: 123px;
      border-top-left-radius: 200px 152%;
      border-left: 44px solid #ff7600;
      transform: rotate(-31deg) scale(1.2);
      left: -53px;
      bottom: 22px; }
      .charmander .body .tail .flame {
        height: 40px;
        width: 39px;
        background: red;
        border-bottom-left-radius: 38px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
        left: -9px;
        top: -13px;
        transform: rotate(-9deg) scale(1.6); }
        .charmander .body .tail .flame:before {
          content: '';
          background: inherit;
          position: absolute;
          height: 40px;
          width: 40px;
          background: red;
          border-bottom-left-radius: 38px;
          border-bottom-right-radius: 50px;
          border-top-left-radius: 50px;
          left: -3px;
          top: -2px;
          transform: rotate(-10deg);
          border-left: 2px solid black; }
        .charmander .body .tail .flame:after {
          content: '';
          background: inherit;
          position: absolute;
          height: 30px;
          width: 30px;
          background: #fcd000;
          border-bottom-left-radius: 39px;
          border-bottom-right-radius: 50px;
          border-top-left-radius: 50px;
          left: 1px;
          top: 9px;
          transform: rotate(-9deg); }
    .charmander .body .tail-shadow {
      height: 174px;
      width: 86px;
      border-radius: 123px;
      border-top-left-radius: 200px 152%;
      border-left: 44px solid black;
      transform: rotate(-28deg) scale(1.2);
      left: -55px;
      bottom: 22px; }
