.pokemon-container {
  margin: 100px; }

.pokemon {
  width: 400px;
  height: 400px;
  position: relative; }
  .pokemon * {
    position: absolute; }

.charmander {
  background: #ff7600; }
  .charmander .head {
    height: 143px;
    width: 150px;
    background: inherit;
    border-top-right-radius: 75px 61%;
    border-top-left-radius: 72px;
    border-bottom-right-radius: 42px;
    border-bottom-left-radius: 60px 49%;
    border-bottom: 3px solid black;
    transform: scale(1.1); }
    .charmander .head:before {
      content: '';
      background: inherit;
      position: absolute;
      height: 85px;
      width: 100px;
      bottom: 0;
      right: -6px;
      border-bottom-right-radius: 100px;
      border-top-right-radius: 33px 100%;
      border-right: 3px solid black; }
    .charmander .head .eye {
      height: 30px;
      width: 30px;
      background: black;
      border-radius: 15px; }
      .charmander .head .eye:before {
        content: '';
        background: inherit;
        position: absolute;
        height: 10px;
        width: 10px;
        background: white;
        border-radius: 5px;
        top: 5px;
        right: 4px; }
    .charmander .head .left-eye {
      top: 65px;
      left: 46px;
      transform: scale(1.1); }
    .charmander .head .right-eye {
      top: 58px;
      right: 7px; }
    .charmander .head .cheek {
      height: 20px;
      width: 40px;
      background: pink;
      border-radius: 30px/100%; }
    .charmander .head .left-cheek {
      top: 87px;
      left: 28px;
      transform: scale(1.1); }
    .charmander .head .right-cheek {
      top: 79px;
      right: -14px;
      transform: rotate(-5deg); }
    .charmander .head .mouth {
      display: none;
      bottom: 9px;
      left: 4px; }
      .charmander .head .mouth:before {
        content: '';
        background: inherit;
        position: absolute;
        height: 6px;
        width: 8px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 8px;
        border-bottom: 2px solid black;
        bottom: 23px;
        left: 88px; }
  .charmander .body {
    height: 186px;
    width: 155px;
    background: inherit;
    top: 100px;
    border-radius: 100px/75%;
    border-top-right-radius: 150px;
    border-right: 3px solid black; }
    .charmander .body .stomach {
      height: 93px;
      width: 90px;
      background: #fcae00;
      border-bottom-left-radius: 34px 60%;
      border-bottom-right-radius: 131px 100%;
      border-top-left-radius: 166px 60%;
      border-top-right-radius: 9px 100%;
      bottom: 0px;
      right: -4px;
      border-right: 4px solid black; }
    .charmander .body .arm {
      height: 54px;
      width: 38px;
      background: inherit;
      border-radius: 25px 75%;
      transform: rotate(-20deg);
      border-right: 2px solid black;
      border-bottom: 1px solid black; }
    .charmander .body .left-arm {
      top: 66px;
      left: 58px; }
    .charmander .body .right-arm {
      top: 59px;
      right: -11px;
      z-index: -1; }
    .charmander .body .left-leg {
      height: 88px;
      width: 83px;
      background: inherit;
      bottom: 0;
      left: -11px;
      border-top-left-radius: 50px 70%;
      border-bottom-left-radius: 50px;
      border-top-right-radius: 50px;
      border-left: 3px solid black;
      border-top: 5px solid black; }
      .charmander .body .left-leg .left-hind-paw {
        height: 44px;
        width: 50px;
        background: inherit;
        right: -20px;
        bottom: 0;
        border-radius: 20px 75%;
        transform: rotate(80deg);
        border-top: 2px solid black;
        border-left: 1px solid black; }
    .charmander .body .right-leg {
      height: 92px;
      width: 100px;
      background: inherit;
      bottom: 0;
      right: -20px;
      border-bottom-right-radius: 50px 70%;
      border-bottom-left-radius: 50px;
      border-top-right-radius: 50px;
      border-top: 5px solid black;
      z-index: -1; }
      .charmander .body .right-leg .right-hind-paw {
        height: 44px;
        width: 48px;
        background: inherit;
        right: -15px;
        bottom: 0;
        border-radius: 20px 75%;
        transform: rotate(100deg) scaleY(0.8);
        border-top: 2px solid black;
        border-left: 1px solid black; }
    .charmander .body .tail {
      height: 174px;
      width: 86px;
      border-radius: 123px;
      border-top-left-radius: 200px 152%;
      border-left: 44px solid #ff7600;
      transform: rotate(-31deg) scale(1.2);
      left: -53px;
      bottom: 22px; }
      .charmander .body .tail .flame {
        height: 40px;
        width: 39px;
        background: red;
        border-bottom-left-radius: 38px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
        left: -9px;
        top: -13px;
        transform: rotate(-9deg) scale(1.6); }
        .charmander .body .tail .flame:before {
          content: '';
          background: inherit;
          position: absolute;
          height: 40px;
          width: 40px;
          background: red;
          border-bottom-left-radius: 38px;
          border-bottom-right-radius: 50px;
          border-top-left-radius: 50px;
          left: -3px;
          top: -2px;
          transform: rotate(-10deg);
          border-left: 2px solid black; }
        .charmander .body .tail .flame:after {
          content: '';
          background: inherit;
          position: absolute;
          height: 30px;
          width: 30px;
          background: #fcd000;
          border-bottom-left-radius: 39px;
          border-bottom-right-radius: 50px;
          border-top-left-radius: 50px;
          left: 1px;
          top: 9px;
          transform: rotate(-9deg); }
    .charmander .body .tail-shadow {
      height: 174px;
      width: 86px;
      border-radius: 123px;
      border-top-left-radius: 200px 152%;
      border-left: 44px solid black;
      transform: rotate(-28deg) scale(1.2);
      left: -55px;
      bottom: 22px; }

.bulbasaur {
  background: #32b786; }
  .bulbasaur .head {
    width: 190px;
    height: 133px;
    background: inherit;
    border-radius: 120px 75%;
    border-bottom: 4px solid black;
    border-right: 2px solid black; }
    .bulbasaur .head:before {
      content: '';
      background: inherit;
      position: absolute;
      width: 50px;
      height: 100px;
      border-radius: 50px/100%;
      top: -26px;
      left: 7px;
      transform: rotate(14deg); }
    .bulbasaur .head:after {
      content: '';
      background: inherit;
      position: absolute;
      width: 55px;
      height: 100px;
      border-radius: 50px/100%;
      top: -20px;
      right: 4px;
      transform: rotate(14deg); }
    .bulbasaur .head .spots {
      height: 29px;
      width: 41px;
      background: rgba(0, 128, 116, 0.49);
      border-top-left-radius: 43px;
      border-top-right-radius: 7px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 42px;
      left: 65px;
      top: 7px;
      transform: rotate(21deg) scale(1.1); }
      .bulbasaur .head .spots:before {
        content: '';
        background: inherit;
        position: absolute;
        height: 10px;
        width: 10px;
        bottom: -15px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 5px; }
      .bulbasaur .head .spots:after {
        content: '';
        background: inherit;
        position: absolute;
        height: 19px;
        width: 15px;
        bottom: -15px;
        right: 0;
        border-top-left-radius: 10px 75%;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 2px;
        transform: rotate(22deg); }
    .bulbasaur .head .face {
      width: 200px;
      top: 10px; }
    .bulbasaur .head .eye {
      height: 30px;
      width: 30px;
      background: black;
      border-radius: 15px;
      z-index: 1; }
      .bulbasaur .head .eye:before {
        content: '';
        background: inherit;
        position: absolute;
        height: 10px;
        width: 10px;
        background: white;
        border-radius: 5px;
        top: 5px;
        right: 4px; }
    .bulbasaur .head .left-eye {
      top: 37px;
      left: 16px; }
    .bulbasaur .head .right-eye {
      top: 43px;
      right: 56px;
      transform: scale(1.1); }
    .bulbasaur .head .cheek {
      height: 20px;
      width: 40px;
      background: pink;
      border-radius: 30px/100%;
      z-index: 1; }
    .bulbasaur .head .left-cheek {
      top: 59px;
      left: -6px; }
    .bulbasaur .head .right-cheek {
      top: 65px;
      right: 35px; }
  .bulbasaur .body {
    width: 250px;
    height: 150px;
    background: inherit;
    border-radius: 150px 75%;
    border-bottom-right-radius: 126px;
    top: 39px;
    left: 50px;
    border-bottom: 4px solid black;
    border-right: 3px solid black;
    border-left: 1px solid black; }
    .bulbasaur .body:before {
      content: '';
      background: inherit;
      position: absolute;
      width: 47px;
      height: 71px;
      background: inherit;
      bottom: -14px;
      left: 10px;
      border-radius: 54px 75%;
      border-bottom: 3px solid black; }
    .bulbasaur .body:after {
      content: '';
      background: inherit;
      position: absolute;
      width: 51px;
      height: 74px;
      bottom: -21px;
      right: 2px;
      border-radius: 54px 75%;
      border-top-right-radius: 3px;
      transform: rotate(5deg);
      border-right: 3px solid black;
      border-bottom: 5px solid black; }
    .bulbasaur .body .back-leg {
      width: 47px;
      height: 71px;
      background: inherit;
      bottom: -14px;
      left: 65px;
      border-radius: 54px 75%;
      transform: rotate(10deg);
      z-index: -1;
      border-bottom: 3px solid black; }
    .bulbasaur .body .spots {
      width: 35px;
      height: 40px;
      background: rgba(0, 128, 116, 0.49);
      bottom: 4px;
      left: 10px;
      z-index: 1;
      border-top-left-radius: 20px 75%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 15px; }
      .bulbasaur .body .spots:before {
        content: '';
        background: inherit;
        position: absolute;
        width: 57px;
        height: 49px;
        top: -90px;
        left: 173px;
        border-top-right-radius: 65px 100%;
        border-top-left-radius: 14px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 36px;
        transform: rotate(-10deg); }
      .bulbasaur .body .spots:after {
        content: '';
        background: inherit;
        position: absolute;
        width: 28px;
        height: 28px;
        top: 10px;
        left: 145px;
        border-bottom-left-radius: 14px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 5px;
        transform: rotate(-11deg); }
  .bulbasaur .bulb {
    width: 198px;
    height: 158px;
    background: #19861c;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 82px;
    border-top-left-radius: 91px;
    left: 96px;
    top: -39px;
    transform: rotate(-4deg) skewX(16deg) skewY(-5deg);
    border-left: 8px solid black;
    border-right: 3px solid black; }
    .bulbasaur .bulb:before {
      content: '';
      background: inherit;
      position: absolute;
      width: 90px;
      height: 160px;
      border-bottom-left-radius: 200px;
      border-top-right-radius: 200px;
      left: 50px;
      top: -20px;
      transform: rotate(74deg) skewX(5deg); }
    .bulbasaur .bulb:after {
      content: '';
      background: inherit;
      position: absolute;
      width: 90px;
      height: 160px;
      left: 63px;
      top: -26px;
      transform: rotate(78deg);
      border: 2px solid black;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      border-left: 4px solid #54b353;
      border-right: 6px solid #54b353;
      border-bottom-left-radius: 200px;
      border-top-right-radius: 200px; }

.squirtle {
  background: #00d0ff;
  margin-left: 100px; }
  .squirtle .head {
    height: 143px;
    width: 150px;
    background: inherit;
    border-top-left-radius: 80px 54%;
    border-top-right-radius: 72px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 60px 49%;
    border-bottom: 3px solid black;
    border-right: 1px solid black;
    transform: scale(1.1) rotate(4deg); }
    .squirtle .head:before {
      content: '';
      background: inherit;
      position: absolute;
      height: 85px;
      width: 68px;
      bottom: -2px;
      left: -7px;
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 7px;
      border-top-left-radius: 33px 100%;
      border-left: 3px solid black;
      border-bottom: 3px solid black;
      transform: rotate(2deg); }
    .squirtle .head .face {
      width: 150px;
      top: 16px; }
    .squirtle .head .eye {
      height: 30px;
      width: 30px;
      background: black;
      border-radius: 15px; }
      .squirtle .head .eye:before {
        content: '';
        background: inherit;
        position: absolute;
        height: 10px;
        width: 10px;
        background: white;
        border-radius: 5px;
        top: 5px;
        right: 4px; }
    .squirtle .head .left-eye {
      top: 47px;
      left: 11px; }
    .squirtle .head .right-eye {
      top: 51px;
      right: 38px;
      transform: scale(1.1); }
    .squirtle .head .cheek {
      height: 20px;
      width: 40px;
      background: pink;
      border-radius: 30px/100%; }
    .squirtle .head .left-cheek {
      top: 66px;
      left: -9px; }
    .squirtle .head .right-cheek {
      top: 69px;
      right: 20px;
      transform: scale(1.1); }
  .squirtle .body {
    height: 200px;
    width: 212px;
    background: #a5762a;
    top: 100px;
    left: -28px;
    border-radius: 100px 51%;
    border-left: 5px solid black;
    border-bottom: 2px solid black;
    transform: scaleX(0.95); }
    .squirtle .body .shell {
      height: 200px;
      width: 171px;
      background: #fcd000;
      border-radius: 100px 51%;
      border-left: 10px solid white;
      border-right: 2px solid black;
      border-bottom: 3px solid black;
      right: 0; }
      .squirtle .body .shell:before {
        content: '';
        background: inherit;
        position: absolute;
        height: 80px;
        width: 170px;
        border-bottom: 5px solid #ffea86;
        top: 42px;
        border-radius: 105px/65%; }
      .squirtle .body .shell:after {
        content: '';
        background: inherit;
        position: absolute;
        background: none;
        height: 156px;
        width: 80px;
        border-right: 5px solid #ffea86;
        top: 42px;
        left: 40px;
        border-radius: 42px/65%; }
    .squirtle .body .left-arm {
      height: 54px;
      width: 107px;
      background: #00d0ff;
      top: 8px;
      left: -48px;
      border-radius: 30px 75%;
      border-bottom-right-radius: 23px;
      border-right: 2px solid black;
      border-bottom: 3px solid black;
      transform: rotate(15deg); }
    .squirtle .body .right-arm {
      height: 54px;
      width: 107px;
      background: #00d0ff;
      top: -1px;
      right: -27px;
      border-radius: 75% 30px;
      border-bottom: 1px solid black;
      transform: rotate(-27deg) scale(0.9); }
    .squirtle .body .left-leg {
      height: 90px;
      width: 90px;
      background: #00d0ff;
      bottom: -7px;
      border-radius: 45px 61%;
      border-left: 1px solid black;
      border-top: 1px solid black;
      border-bottom: 4px solid black;
      border-right: 2px solid black;
      transform: scale(1.1); }
    .squirtle .body .left-foot {
      height: 45px;
      width: 45px;
      background: #00d0ff;
      bottom: 0;
      border-radius: 22px 61%;
      border: 1px solid black;
      border-left: 3px solid black;
      border-right: 3px solid black; }
    .squirtle .body .left-toes {
      height: 10px;
      width: 10px;
      background: #00d0ff;
      border-left: 1px solid black;
      border-top: 1px solid black; }
      .squirtle .body .left-toes:before {
        content: '';
        background: inherit;
        position: absolute;
        height: 10px;
        width: 10px;
        background: #00d0ff;
        border-left: 1px solid black;
        border-top: 1px solid black;
        left: -7px;
        top: 11px;
        transform: rotate(-40deg); }
      .squirtle .body .left-toes:after {
        content: '';
        background: inherit;
        position: absolute;
        height: 10px;
        width: 10px;
        background: #00d0ff;
        border-left: 1px solid black;
        border-top: 1px solid black;
        left: 10px;
        top: -6px;
        transform: rotate(40deg); }
    .squirtle .body .right-leg {
      height: 90px;
      width: 90px;
      background: #00d0ff;
      bottom: 4px;
      right: 0;
      border-right: 1px solid black;
      border-radius: 45px 61%;
      border-bottom: 3px solid black;
      transform: scale(1.1); }
    .squirtle .body .right-foot {
      height: 45px;
      width: 45px;
      background: #00d0ff;
      bottom: 0;
      right: -11px;
      border-radius: 22px 61%;
      border: 1px solid black;
      border-left: 2px solid black;
      border-right: 2px solid black;
      transform: rotate(90deg) skewX(7deg) scale(0.9); }
    .squirtle .body .right-toes {
      height: 10px;
      width: 10px;
      background: #00d0ff;
      border-left: 1px solid black;
      border-top: 1px solid black; }
      .squirtle .body .right-toes:before {
        content: '';
        background: inherit;
        position: absolute;
        height: 10px;
        width: 10px;
        background: #00d0ff;
        border-left: 1px solid black;
        border-top: 1px solid black;
        left: -7px;
        top: 11px;
        transform: rotate(-40deg); }
      .squirtle .body .right-toes:after {
        content: '';
        background: inherit;
        position: absolute;
        height: 10px;
        width: 10px;
        background: #00d0ff;
        border-left: 1px solid black;
        border-top: 1px solid black;
        left: 10px;
        top: -6px;
        transform: rotate(40deg); }
  .squirtle .tail {
    width: 159px;
    height: 130px;
    border-bottom: 50px solid #00d0ff;
    top: 88px;
    left: -38px;
    border-radius: 69% 165px;
    transform: rotate(29deg) scale(1.4) skewX(-3deg); }
    .squirtle .tail:before {
      content: '';
      background: inherit;
      position: absolute;
      width: 59px;
      height: 63px;
      background: #00d0ff;
      bottom: 3px;
      left: 0px;
      border-radius: 75% 40px;
      transform: rotate(-23deg); }
    .squirtle .tail:after {
      content: '';
      background: inherit;
      position: absolute;
      width: 37px;
      height: 47px;
      bottom: 6px;
      left: 22px;
      background: #00d0ff;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      transform: rotate(48deg);
      border-bottom: 1px solid black;
      border-right: 2px solid black; }
  .squirtle .tail-shadow {
    width: 159px;
    height: 137px;
    border-bottom: 50px solid black;
    top: 82px;
    left: -38px;
    border-radius: 69% 165px;
    transform: rotate(33deg) scale(1.4) skewX(-3deg); }
