.pokemon-container {
  margin: 100px;
}

.pokemon {
  width: 400px;
  height: 400px;

  position: relative;
  * { position: absolute; }
}

@mixin pseudoElementStyle() {
  content: '';
  background: inherit;
  position: absolute;
}


@import 'charmander';
@import 'bulbasaur';
@import 'squirtle';
