.pokemon-container {
  display: flex;
}

.pokemon {
  width: 350px;
  height: 350px;
  flex-grow: 1;

  position: relative;
  * { position: absolute; }
}

@mixin pseudoElementStyle() {
  content: '';
  background: inherit;
  position: absolute;
}


@import 'charmander';
@import 'bulbasaur';
@import 'squirtle';
