.pokemon {
  margin: 100px;
  position: relative;

  * { position: absolute; }
}

@mixin pseudoElementStyle() {
  content: '';
  background: inherit;
  position: absolute;
}


@import 'pikachu';
@import 'charmander';
@import 'bulbasaur';
@import 'squirtle';
